- name: setting up application
  include_role:
    name: common
    tasks_from: app_setup.yaml

- name: setting up nodejs
  include_role:
    name: common
    tasks_from: nodejs.yaml

- name: setting up systemd
  include_role:
    name: common
    tasks_from: systemd.yaml

- name: copying mongo repo to yum repos
  ansible.builtin.copy:
    src:  mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: installing mongodb client server
  ansible.builtin.package:
    name: mongodb-mongosh
    state:  present


- name: check data is already loaded or not
  ansible.builtin.command:  mongosh --quiet --host mongodb-dev.robotshop.site --eval "db.adminCommand('listDatabases').databases.map(db => db.name).includes('catalogue')"
  register: command_output
  args:
    chdir:  /app

- name: printing command output
  ansible.builtin.debug:
    msg:  "{{ command_output }}"

- name: loading data to mongodb
  when: command_output.stdout == "false"
  ansible.builtin.shell:  mongosh --host mongodb-dev.robotshop.site </app/db/master-data.js

# - name: deployment
#   tags:
#     - deploy
#   import_role: # here i'm using import role instead of include_role cause when we use tags include wont assign auto-tags defaultly to all tasks included where as import will auto assign tags to it's sub tasks
#     name: common
#     tasks_from: deployment

#here we used tag in deployment we can run only this particular task whenver there is new deployment
#we can run this code as
##################3ansible-playbook -i inventory.ini main.yaml -t deploy##########################

# usage of -t deploy will make sure only the tasks with the deploy tag will run

# and also 

# We can include other roles in our role in 2 ways:

# 1) include_role: it will include tasks in run time, it will validate also in run-time.
# Tags and when conditions apply only to the include_role statement itself , not to the tasks within the role.

# - name: deployment call
#   tags:
#     - deploy
#   include_role:
#     name: common
#     tasks_from: deployment.yaml

# if we use this tags will only be applied to deployment call task and not to acutal tasks included in common role

# 2) import_role: ansible validate import role before playbook execution
# tags and when conditions apply to the imported role and it's tasks. 
# - name: deployment call
#   tags:
#     - deploy
#   import_role:
#     name: common
#     tasks_from: deployment.yaml
# if we use this tags will be applicable to all tasks inside common/deployment.yaml
# checks notes (ansible tags for more clear understanding)







