- name: creating system user
  ansible.builtin.user:
    name: roboshop
    shell:  /sbin/nologin
    system: yes
    home: /app
    create_home:  yes

- name: creating home directory app
  ansible.builtin.file:
    path: /app
    state:  directory

- name: downloading application file
  ansible.builtin.get_url:
    url: "https://roboshop-artifacts.s3.amazonaws.com/{{ component }}-v3.zip"
    dest: "/tmp/{{ component }}.zip"

- name: unzipping the file content to /app directory
  ansible.builtin.unarchive:
    src:  "/tmp/{{ component }}.zip"
    dest: /app
    remote_src: yes
 
  
