- name: copying systemd service to desired path
  #ansible.builtin.copy: #copy will directly copy as it is but we dont wnat copy we want to use template
  ansible.builtin.template: #if we use template it will go inside template and execute jinja2 formatted file and get var detailas from var folder
    src:  "{{ component }}.service.j2" 
    dest: "/etc/systemd/system/{{ component }}.service"
    
- name: daemon reload in progress
  ansible.builtin.systemd_service:
    daemon_reload:  true

- name: "enable and start {{ component }} service"
  ansible.builtin.service:
    name: "{{ component }}"
    enabled:  yes
    state:  restarted


